@media (max-width: 992px) {
    .header {
        padding-bottom: 29px;
        padding-left: 18px;
    }

    .nav__list {
        margin-right: -30px;
    }

    .main__course {
        padding-bottom: 134px;
    }

    .main__course__title {
        padding-left: 23px;
        margin-bottom: 16px;
        font-size: 50px;
    }

    .main__course__descr {
        width: 345px;
        padding-left: 23px;
    }

    .main__course__btn {
        margin-left: 20px;
    }

    .main__course__img {
        padding-left: 80px;
        padding-top: 106px;
        padding-right: 18px;
    }

    .main__course__bg {
        background-position: 81px 103px;
        background-size: 132px;
    }

    .advantages {
        padding-bottom: 75px;
    }

    .advantages__img {
        padding-left: 11px;
        padding-top: 23px;
    }

    .advantages__title {
        margin-bottom: 17px;
    }

    .advantages__content {
        margin-bottom: 24px;
    }

    .advantages__column {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantages__hack1 {
        margin-left: 14px;
    }

    .advantages__hack2 {
        margin-left: -11px;
    }

    .advantages__item__descr {
        padding-left: 0;
        padding-top: 10px;
        max-width: 210px;
    }

    .teachers {
        padding-bottom: 60px;
        padding-left: 8px;
        padding-top: 75px;
    }

    .teachers__title {
        margin-bottom: 0;
    }

    .teacher__item {
        padding-top: 23px;
    }

    .teacher__item:nth-child(2n + 1) {
        padding-left: 32px;
    }

    .teacher__img {
        margin-bottom: 23px;
    }

    .courses {
        padding-bottom: 80px;
    }

    .courses__title {
        padding-left: 23px;
    }

    .courses__col:nth-child(2n + 1) {
        padding-left: 40px;
    }

    .courses__col:nth-child(2n) {
        padding-right: 40px;
    }

    .courses__item__descr {
        max-width: 284px;
        min-height: 196px;
    }

}

@media (max-width: 767px) {
    .header {
        padding-bottom: 31px;
    }

    .header___content {
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        margin-bottom: 30px;
        margin-left: 200px;
    }

    .main__course__content {
        padding-top: 62px;
    }

    .main__course__title {
        width: 385px;
    }

    .main__course__descr {
        padding-left: 19px;
    }

    .main__course__bg {
        display: none;
    }

    .main__course__btn {
        width: 270px;
    }

    .advantages {
        padding-bottom: 55px;
    }

    .advantages__img {
        padding-top: 0;
    }

    .advantages__descr {
        min-width: 330px;
    }

    .advantages__item__descr {
        max-width: 150px;
    }

    .teacher__img {
        height: 180px;
    }

    .teacher__item:nth-child(2n + 1) {
        padding-left: 25px;
    }

    .courses__btn {
        padding: 20.5px 48px;
    }

    .courses__item__descr {
        width: 180px;
        min-height: 280px;
    }

    .courses__item__title {
        width: 194px;
        height: 41px;
    }
}

@media (max-width: 575px) {
    .header {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header__logo {
        margin-bottom: 26px;
        margin-left: 73px;
    }

    .header__nav {
        max-width: 100%;
    }

    .nav__list {
        position: static;
        overflow-x: scroll;
    }

    .main__course {
        padding-bottom: 50px;
    }

    .main__course__content {
        padding-top: 35px;
    }

    .main__course__title {
        width: 226px;
        margin-bottom: 5px;
        padding-left: 0;
        font-size: 30px;
    }

    .main__course__descr {
        width: 290px;
        margin-bottom: 45px;
        padding-left: 0;
        font-size: 16px;
        line-height: 130%;
    }

    .main__course__btn {
        margin-left: 0;
        padding: 20.5px 53.5px;
        width: 213px;
        height: 60px;
        font-size: 16px;
    }

    .advantages {
        padding-top: 57px;
        padding-bottom: 30px;
        padding-left: 0;
    }

    .advantages__title {
        width: 290px;
        margin-bottom: 8px;
        font-size: 20px;
    }

    .advantages__picture {
        display: none;
    }

    .advantages__descr {
        min-width: 290px;
    }

    .advantages__column {
        flex-direction: row;
    }

    .advantages__hack1, .advantages__hack2 {
        margin-left: 0;
    }

    .advantages__column__svg {
        margin-right: 30px;
    }

    .advantages__item__descr {
        width: 180px;
        min-height: 68px;
    }

    .teachers {
        padding-top: 48px;
        padding-bottom: 34px;
        padding-left: 0;
    }

    .teachers__title {
        padding-left: 0;
        font-size: 20px;
    }

    .teacher__item:nth-child(2n + 1) {
        padding-left: 16px;
    }

    .courses {
        padding-top: 48px;
        padding-bottom: 113px;
    }

    .courses__title {
        padding-left: 0;
        font-size: 20px;
    }

    .courses__col:nth-child(2n + 1) {
        padding-left: 15px;
    }

    .courses__col:nth-child(2n) {
        padding-right: 15px;
    }

    .footer__social__container {
        justify-content: unset;
        padding-left: 10px;
    }

    .end__of__page {
        padding-left: 0;
    }
}